@model List<Database.Models.Student>
@{
    ViewBag.Title = "Home Page";
}

<!-- Search Form -->
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
<div>

    Name @Html.RadioButton("search", "Name", Request.QueryString["search"] == "ABC")
    City @Html.RadioButton("search", "City", Request.QueryString["search"] == "City")<br /><br />
    @Html.TextBox("searchBy",Request.QueryString["searchBy"], new { @class = "form-control", placeholder = "Search by name or city " })<br />
    <button type="submit" class="btn btn-primary">Search</button><br/>
  

</div>
}

<br />
<h3>Details</h3>
<div class="row">
    @using (Html.BeginForm("DeleteSelected", "Home", FormMethod.Post))
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>City</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>

                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.City</td>
                    <td>
                        <button class="btn btn-secondary">@Html.ActionLink("Edit", "Registration", new { id = item.Id }, new { @class = "btn btn-outline-secondary" })</button>
                    </td>
                    <td>
                        <!-- Optional: If you want to include individual delete functionality -->
                        @*<a href="@Url.Action("Delete", "Home", new { id = item.Id })" class="btn btn-danger">Delete</a>*@
                    <input type="checkbox" name="selectedIds" value="@item.Id" />
                    </td>

                </tr>
                }
                @if (!Model.Any())
                {
                    <tr>
                        <td colspan="6" class="text-center">No results found</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <button type="submit" class="btn btn-danger">Delete Selected</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    }
</div>
